*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

// HEADER
.header {
    background-image: linear-gradient(to left, #0d43fbbd, #0d43fbbd), url('../images/background-image.jpg');
    background-size: cover;
    height: 100vh;

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    &__logo {
        img {
            width: 20rem;
        }
    }

    &__list {
        display: flex;
        list-style: none;

        &-link {
            text-decoration: none;
            color: white;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-right: 4rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__hero {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 6rem;
        margin-top: 8rem;

        &-images {
            flex: 1;
            display: flex;
            align-items: center;

            &-1 {
                width: 26rem;
            }

            &-2 {
                width: 28rem;
            }
        }

        &-description {
            flex: 1;

            .hero-title {
                font-size: 5rem;
                line-height: 1.2;
                font-weight: normal;
                color: white;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }

            .hero-paragraph {
                font-size: 1.5rem;
                color: white;
            }
        }
    }

    &__download {
        margin-top: 5rem;

        &-google,
        &-apple {
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            font-size: 1.4rem;
            border: 2px solid white;
            padding: 1rem 3rem;
        }

        &-google {
            margin-right: 2rem;
        }
    }
}

// DESCRIPTION
.description {
    padding: 6rem;

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        height: 26rem;
        justify-content: space-between;

        &:not(:last-child) {
            margin-right: 2rem;
        }

        &-icon {
            color: #0d43fb;
            font-size: 5rem;
        }

        &-title {
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: normal;
        }

        &-text {
            font-size: 1.2rem;
            text-align: center;
        }
    }
}

// CONTACT
.contact {
    padding: 6rem;
    background-image: linear-gradient(to bottom right, #333333db 50%, #333 50%);
    text-align: center;

    &__title {
        color: #fff;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: normal;
    }

    &__subtitle {
        color: #fecb36;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name,
    &__email,
    &__message {
        display: block;
        width: 40rem;
        margin-top: 1rem;
        padding: 1rem;
        font-size: 1.4rem;
        text-transform: uppercase;
        border: none;
        color: #333;
    }

    &__name,
    &__email {
        height: 4rem;
    }

    &__submit {
        width: 20rem;
        height: 4rem;
        margin-top: 1rem;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        text-transform: uppercase; 
        border: none;
        background-color: #fecb36;
        color: #333;
        cursor: pointer;
    }
}

// FOOTER
.footer {
    background-color: #0d43fb;
    padding: 6rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        ul {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__right {
        &-copy {
            color: white;
            font-size: 1.2rem;
        }
    }
}

// PRIVACY POLICY
.header__extra {
    height: unset;
}

.content {
    background-color: #efefef;
    display: flex;
    justify-content: center;
    padding: 6rem;

    &__terms {
        background-color: white;
        width: 75%;
        padding: 6rem;
    }

    &__title {
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
}

// MEDIA QUERIES
// IPAD PRO
@media only screen and (max-width: 1024px) {
    .header {
        height: 70vh;
        &__hero {
            margin-top: 12rem;
            &-images {
                &-1 {
                    width: 20rem;
                }
                &-2 {
                    width: 22rem;
                }
            }
        }
    }
    .header.header__extra {
        height: unset;
    }
    .content {
        &__terms {
            width: 100%;
        }
    }
}

// IPAD
@media only screen and (max-width: 768px) {
    .header {
        height: 80vh;
        &__hero {
            padding: 4rem;
            &-images {
                margin-right: 2rem;
                &-1 {
                    width: 16rem;
                }
                &-2 {
                    width: 18rem;
                }
            }
            .hero-title {
                font-size: 3rem;
            }
        }
    }

    .description {
        padding: 4rem;
        &__item {
            padding: 2rem;
            &-title {
                text-align: center;
            }
        }
    }
}

// PHONE
@media only screen and (max-width: 600px) {
    .header {
        height: unset;
        &__navigation {
            display: block;
            padding: 1rem;
            text-align: center;
        }
        &__logo {
            margin-bottom: 1rem;
        }
        &__list {
            justify-content: space-around;
            &-link {
                margin-right: 0;
            }
        }
        &__hero {
            display: block;
            margin-top: 0;
            &-images {
                margin-right: 0;
                justify-content: center;
                &-1 {
                    width: 10rem;
                }
                &-2 {
                    width: 12rem;
                }
            }
            &-description {
                text-align: center;
                .hero-title {
                    font-size: 3rem;
                    margin-top: 2rem;
                }
            }
        }   
        &__download {
            margin-top: 4rem;
            &-google {
                margin-right: 0;
            }
        }
    }
    .description {
        padding: 2rem;
        &__list {
            display: block;
        }
        &__item {
            padding: 4rem;
            &:not(:last-child) {
                margin-right: 0rem;
            }
        }
    }
    .contact {
        padding: 4rem;
        &__name,
        &__email,
        &__message {
            width: 30rem;
        }
    }
    .footer {
        display: block;
        padding: 3rem;
        text-align: center;
    }
    .content {
        display: block;
        padding: 0;
        &__terms {
            width: 100%;
            padding: 2rem;
        }
    }
}



